body {
  background-color: black;
  overflow: hidden;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 200%;
  height: 1px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical {
  width: 1px;
  height: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coordinate {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(25px, 25px);
}
