body {
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 200%;
  height: 1px;
}

.vertical {
  width: 1px;
  height: 200%;
}

.target {
  position: absolute;
}

.coordinate {
  color: white;
  position: absolute;
  margin: 20px;
}
