:root {
  --background-linear-color: linear-gradient(
    135deg,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 22%,
    rgba(33, 180, 226, 1) 45%,
    rgba(183, 222, 237, 1) 100%
  );
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #cfd3df;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  box-shadow: 14px 13px 15px -5px rgba(0, 0, 0, 0.21);
}

.title {
  text-align: center;
  line-height: 60px;
  color: white;
  background: var(--background-linear-color);
  margin: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.list {
  height: 500px;
  background-color: whitesmoke;
  overflow: auto;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 20px;
}

.item-name {
}
.item-remove {
  cursor: pointer;
}

.item-input {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 16px;
  padding-left: 10px;
}

.bottom {
  height: 60px;
  text-align: center;
  background: var(--background-linear-color);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 40px;
  margin-top: 10px;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}
